* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header {
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: ;
}
.navbar {
  padding: 0;
}
.padding {
  padding: 40px 0px;
}
.forlogo h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.headericon {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headericon .navbar-brand {
  margin: 7px;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 17px;
  font-weight: 400;
  color: #c8342d;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-light .navbar-brand {
  color: #c8342d;
}
.navbar-light .navbar-brand:hover {
  color: #c8342d;
}
span i {
  color: #fff;
}
.navbar-light .navbar-toggler {
  color: #c8342d;
  border-color: #c8342d;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  margin: auto;
  text-transform: uppercase;
  position: relative;
  margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::after {
  width: 45%;
  background-color: #c8342d;
}
.navbar-light .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -25%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before {
  width: 45%;
  background-color: #c8342d;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.forsearch {
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  margin-right: 20px;
}
.forsearch i {
  color: #fff;
}
.carousel-item {
  min-height: 100vh;
  text-align: center;
}
.carousel-item h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 100px 0px 30px;
}
.carousel-item p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 100px;
}
.carousel-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #c8342d;
  padding: 15px 40px;
  min-height: 50vh;
  bottom: 0;
}
.carousel-item a:hover {
  background-color: transparent;
  transition: 0.3s all ease-in-out;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border-width: 10px 0px;
  border-right-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  transition: opacity 0.6s ease 0s;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectionone {
  padding-top: 100px;
  padding-bottom: 80px;
}
.sectionone h1 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 30px 0px 15px 20px;
}
.sectionone p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 10px 20px;
}
.sectionone a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 0px 0px 20px;
}
.sectionone a:hover {
  text-decoration: underline;
}
.sectionone .forshadowone {
  box-shadow: 0px 0px 20px 15px #dfdfe2;
}
.forcontenttow {
}
.forcontenttow h2 {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 120px 0px 40px 45px;
}
.forcontenttow p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 100px;
  padding-left: 45px;
}
.forcontenttow .aaa {
  padding-left: 45px;
}
.forcontenttow .aaa a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #c8342d;
  padding: 15px 40px;
}
.forcontenttow .aaa a:hover {
  background-color: transparent;
  border: 2px solid #c8342d;
  color: #c8342d;
  transition: 0.3s all ease-in-out;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectiontow {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 90px;
}
.forcontentthree h1 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 10px;
}
.forcontentthree span {
  display: block;
  width: 10%;
  height: 3px;
  margin: auto;
  position: relative;
}
.forcontentthree span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectiontow:hover .forcontentthree span::after {
  width: 45%;
  background-color: #c8342d;
}
.forcontentthree span::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectiontow:hover .forcontentthree span::before {
  width: 45%;
  background-color: #c8342d;
}
.forcontentthree p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.somemanu {
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 60px 0px 70px 0px;
}
.somemanu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.somemanu ul li {
  list-style: none;
}
.somemanu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #c8342d;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 20px;
}
.somemanu ul li a:hover {
  background-color: #c8342d;
  color: #fff;
  border: 2px solid #fff;
}

.justforpadding {
  padding-top: 32px;
}
.justforpadding img {
  position: relative;
}
.justforpadding img::after {
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  height: 50%;
  width: 50%;
  background-color: rgb(196, 51, 51);
}
.justforpadding img:hover .justforpadding img::after {
  height: 50%;
}

.sectiontow a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #c8342d;
  padding: 15px 40px;
}
.sectiontow a:hover {
  background-color: transparent;
  border: 2px solid #c8342d;
  color: #c8342d;
  transition: 0.3s all ease-in-out;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectionthree {
  background-color: #2d3f51;
  padding-top: 100px;
  padding-bottom: 90px;
}
.sectionthree h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 10px;
}
.lalala span {
  display: block;
  width: 10%;
  height: 3px;
  margin: auto;
  position: relative;
}
.lalala span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectionthree:hover .lalala span::after {
  width: 45%;
  background-color: #fff;
}
.lalala span::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectionthree:hover .lalala span::before {
  width: 45%;
  background-color: #fff;
}
.sectionthree p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.listitem h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  height: 100px;
  width: 100px;
  box-shadow: inset 3px -1px 4px 3px #dbd9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.listitem h1:hover {
  box-shadow: 2px -1px 1px 3px #dbd9d9;
}
.listitem p {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 25px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectionfour {
  padding-top: 100px;
  padding-bottom: 90px;
}
.sectionfour h1 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 10px;
}
.lalala span {
  display: block;
  width: 10%;
  height: 3px;
  margin: auto;
  position: relative;
}
.lalala span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectionfour:hover .lalala span::after {
  width: 45%;
  background-color: #c8342d;
}
.lalala span::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectionfour:hover .lalala span::before {
  width: 45%;
  background-color: #c8342d;
}
.sectionfour p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.foricon {
  padding: 45px 0px 25px;
}
.foricon i {
  color: #c8342d;
  font-size: 50px;
  font-weight: 500;
  height: 100px;
  width: 100px;
  border: 2px dashed #c8342d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.forshadowtow {
  margin-top: 40px;
}
.forshadowtow:hover {
  transition: 0.2s ease-in-out;
  box-shadow: inset 0px 0px 100px 0px #ec9994;
}
.forshadowtow:hover .foricon i {
  color: #000;
  border: 2px solid #000;
}
.forshadowtow h1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.forshadowtow p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectionfive {
  background-image: url(../images/home10.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.abc {
  min-height: 100vh;
}
.sectionfive h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  padding: 80px 0 70px;
}
.forprofile img {
  width: 150px;
  height: 150px;
}
.forprofile h6 {
  color: #c8342d;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 30px;
}
.forprofile h5 {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.sectionfive p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 80px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectionsix {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 80px;
}
.sectionsix h2 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.lalala span {
  display: block;
  width: 10%;
  height: 3px;
  margin: auto;
  position: relative;
}
.lalala span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectionsix:hover .lalala span::after {
  width: 45%;
  background-color: #c8342d;
}
.lalala span::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0%;
  width: 0;
  height: 3px;
  transition: 0.4s ease-in-out;
}
.sectionsix:hover .lalala span::before {
  width: 45%;
  background-color: #c8342d;
}
.sectionsix p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 30px 0px 50px 0px;
}
.known {
  background-color: #fff;
}
.forcontentfour h4 {
  color: #c8342d;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 30px 30px 0px 30px;
}
.forcontentfour h4 text {
  margin-left: 20px;
}
.forcontentfour h1 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 30px 10px 30px;
}
.forcontentfour p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 0px 30px 10px 30px;
}
.forcontentfour a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 30px 0px 30px;
}
.forcontentfour a:hover {
  text-decoration: underline;
}
.forshadowthree {
  background-color: #fff;
  box-shadow: 0px 0px 0px 24px #f5f5f5;
}
.forshadowthree h4 {
  color: #c8342d;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 30px 30px 0px 20px;
}
.forshadowthree h4 text {
  margin-left: 20px;
}
.forshadowthree h1 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 30px 10px 20px;
}
.forshadowthree p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 0px 30px 10px 20px;
}
.forshadowthree a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 30px 0px 20px;
}
.forshadowthree a:hover {
  text-decoration: underline;
}
.AAA {
  padding-bottom: 30px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sectionseven {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 20px;
}
.sectionseven h1 {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
.sectionseven p {
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 26px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
.social ul li:hover {
  transition: 0.2s ease-in-out;
  background-color: #ff5900;
}
.social {
  padding-bottom: 50px;
}
.social ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0;
  margin: 0;
}
.social h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.social ul li {
  list-style: none;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.social ul li a {
  color: #000;
  font-size: 30px;
}
.end-part {
  display: flex;
  justify-content: space-between;
}
.end-part ul {
  padding: 0;
  margin: 0;
}
.end-part ul li {
  list-style: none;
}
.end-part ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.end-part ul li a:hover {
  text-decoration: underline;
  color: #ff5900;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
