* {
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/computer-2846160_1920.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.padding {
  padding: 40px 0px 0px 0px;
}
.navbar-brand {
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
}
.navbar-brand a {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
}
.navbar-light .navbar-toggler span i {
  color: #fff;
  font-size: 30px;
}
.social {
  width: 100%;
}
.social ul {
  width: 30%;
  padding: 0px 0px 0px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  border: 2px solid #ff6e1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
}
.social ul li:hover {
  background-color: transparent;
}
.social ul li a {
  color: #ff6e1a;
  font-size: 18px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
  padding: 1px 10px 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 30px;
}
.navbar-nav {
  text-align: center;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  transition: 0.2s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #ff6e1a;
  border: 2px solid #ff6e1a;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.navbar-light .navbar-toggler span i {
  color: #fff;
}
.bannercont h1 {
  font-size: 55px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 145px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.bannercont h1 span {
  color: #ff6e1a;
  text-decoration: underline;
}
.bannercont p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 25px;
  text-align: center;
  padding: 16px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.forbuttontow {
  text-align: center;
}
.btn-see {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 30px 8px 30px;
  margin: 50px 0px 30px 0px;
  text-decoration: none;
  border: 2px solid #ff6e1a;
  border-radius: 30px;
  background-color: #ff6e1a;
}
.btn-see:hover {
  color: #fff;
  border: 2px solid #fff;
  transition: 0.2s all ease-in-out;
  background-color: transparent;
}
.owl-nav {
  display: none;
}
.owl-dots {
  text-align: center;
  margin: 160px 0px 0px 0px;
}
.owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  opacity: 0.5;
  margin: 5px;
}
.owl-dots .active span {
  opacity: 1;
}
/* header end ////////////////////////////////////////////////////*/

.creative {
  padding: 80px 0px 80px 0px;
}
.imgthreeone {
  background-image: url(../images/home1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
.imgthreetow {
  background-image: url(../images/home2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
.imgthreethree {
  background-image: url(../images/home3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
.forhover {
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 15px 0px;
  box-shadow: 0px 0px 20px 0px rgb(236, 236, 236);
  transition: 0.4s all ease-in-out;
}
.forhover:hover {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
.imagecont {
  padding: 35px 25px 25px 35px;
}
.imagecont h1 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.imagecont p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  padding: 20px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
}
.readseven {
  padding: 10px 0px 10px 0px;
}
.readseven a {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
}
.readseven a:hover {
  text-decoration: underline;
}

.rightcont h1 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 155px 0px 0px 45px;
  margin: 0px 0px 0px 0px;
}
.rightcont h1 span {
  font-weight: 400;
}
.rightcont p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 20px 0px 0px 45px;
  margin: 0px 0px 0px 0px;
}
.forbuttonone {
  padding: 20px 0px 0px 45px;
}
.btn-seee {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 30px 8px 30px;
  margin: 20px 0px 0px 0px;
  text-decoration: none;
  border: 2px solid #ff6e1a;
  background-color: #ff6e1a;
  border-radius: 30px;
}
.btn-seee:hover {
  color: #ff6e1a;
  border: 2px solid #ff6e1a;
  background-color: transparent;
  transition: 0.2s all ease-in-out;
}
/* end ////////////////////////////////////////////////////////*/

.bastway {
  padding: 80px 0px 80px 0px;
  background-color: #f5f5f5;
}
.upcontfour {
  text-align: center;
}
.upcontfour h1 {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
  padding: 0px 0px 8px 0px;
  margin: 0px 0px 0px 0px;
}
.upcontfour span {
  display: block;
  width: 15%;
  height: 3px;
  margin: auto;
  position: relative;
}
.upcontfour span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: 0.4s all ease-in-out;
}
.bastway:hover .upcontfour span::after {
  width: 45%;
  background-color: #ff6e1a;
}
.upcontfour span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  right: 0;
  bottom: 0;
  transition: 0.4s all ease-in-out;
}
.bastway:hover .upcontfour span::before {
  width: 45%;
  background-color: #ff6e1a;
}
.upcontfour p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 10px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
}
.manulist {
  width: 40%;
  margin: auto;
  padding: 0px 0px 50px 0px;
}
.manulist ul {
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manulist ul li {
  list-style: none;
}
.manulist ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 10px 5px 10px;
}
.manulist ul li a:hover {
  border: 2px solid #ff6e1a;
  transition: 0.2s all ease-in-out;
}
.manulist ul li a.active {
  border: 2px solid #ff6e1a;
}
.manulist ul li a.active:hover {
  border: 2px solid #120129;
}
.imgfourtow,
.imgfoursix,
.imgfourfive {
  margin: 25px 0px 0px 0px;
}
.imgfourone,
.imgfourtow,
.imgfourfour,
.imgfourfive,
.imgfoursix {
  overflow: hidden;
  position: relative;
}
.imgfourfour img,
.imgfoursix img {
  width: 99%;
  margin: auto;
}
.imgfoursix img {
  width: 99.4%;
  text-align: center;
}
.imgfourone img:hover,
.imgfourtow img:hover,
.imgfourfour img:hover,
.imgfourfive img:hover,
.imgfoursix img:hover {
  transition: 0.5s;
  overflow: hidden;
}
.btn-seeee {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 30px 8px 30px;
  margin: 50px 0px 0px 0px;
  text-decoration: none;
  border: 2px solid #ff6e1a;
  border-radius: 30px;
  background-color: #ff6e1a;
}
.btn-seeee:hover {
  color: #ff6e1a;
  border: 2px solid #ff6e1a;
  transition: 0.2s all ease-in-out;
  background-color: transparent;
}
/* end ////////////////////////////////////////////////////////*/
.example {
  padding: 80px 0px 80px 0px;
  background-color: #120129;
}
.upcontfour h2,
.forcolor h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  padding: 0px 0px 8px 0px;
  margin: 0px 0px 0px 0px;
}
.example:hover .upcontfour span::after {
  width: 45%;
  background-color: #fff;
}
.example:hover .upcontfour span::before {
  width: 45%;
  background-color: #fff;
}
.upcontfour h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.numbersixr,
.numbersixl {
  text-align: center;
  padding: 60px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.numbersixr h1,
.numbersixl h1 {
  height: 80px;
  width: 80px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: inset 3px -3px 5px 0px #f5f5f5;
  transition: 0.4s all ease-in-out;
}
.numbersixr h1:hover {
  box-shadow: inset -3px 3px 5px 0px #f5f5f5;
}
.numbersixl h1:hover {
  box-shadow: inset -3px 3px 5px 0px #f5f5f5;
}
.numbersixr p,
.numbersixl p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 25px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
/* end ////////////////////////////////////////////////////////*/
.service {
  padding: 80px 0px 80px 0px;
}
.service:hover .upcontfour span::after {
  width: 45%;
  background-color: #ff6e1a;
}
.service:hover .upcontfour span::before {
  width: 45%;
  background-color: #ff6e1a;
}
.foriconsix {
  padding: 50px 0px 0px 0px;
}
.foriconsix i {
  height: 80px;
  width: 80px;
  border: 3px dashed #0c2844;
  color: #0c2844;
  font-size: 40px;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.forboxsix {
  text-align: center;
  background-color: #e7e5e5;
  border-radius: 10px;
  margin: 50px 0px 0px 0px;
  box-shadow: -3px -3px 4px 1px #0c2844;
  transition-duration: 0.5s;
}
.forboxsix:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.forboxsix:hover .foriconsix i {
  border: 2px solid #ff6e1a;
  color: #ff6e1a;
}
.forboxsix h1 {
  color: #0c2844;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 25px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.forboxsix p {
  color: #0c2844;
  font-size: 15px;
  font-weight: 400;
  padding: 25px 0px 40px 0px;
  margin: 0px 0px 0px 0px;
}
/* end ////////////////////////////////////////////////////////*/
.aboutus {
  padding: 80px 0px 40px 0px;
  background-color: #120129;
}
.aboutus:hover .upcontfour span::after {
  width: 45%;
  background-color: #ff6e1a;
}
.aboutus:hover .upcontfour span::before {
  width: 45%;
  background-color: #ff6e1a;
}
.aboutus p {
  color: #fff;
  font-weight: 500;
  padding: 50px 25px 15px 25px;
}
.backc {
  text-align: center;
  margin: 100px 25px 70px 25px;
  padding: 35px 0px 30px 0px;
  background-image: url(../images/pngegg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 5px solid #fa5827;
  transition: 0.4s all ease-in-out;
}
.for-rating ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.for-rating ul li {
  list-style: none;
}
.for-rating ul li i {
  color: #fff;
  font-size: 15px;
}
.tow-items {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.tow-items h1 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0px 0px 0px;
}
.profile {
  width: 40%;
  margin: auto;
}
.profile img {
  width: 100%;
  clip-path: circle();
}
.slick-current,
.slick-center {
  transform: scale(1.15);
  background-color: #ff6e1a;
}
/* end ////////////////////////////////////////////////////////*/
.blog {
  padding: 80px 0px 80px 0px;
  background-color: #f5f5f5;
}
.blog:hover .upcontfour span::after {
  width: 45%;
  background-color: #ff6e1a;
}
.blog:hover .upcontfour span::before {
  width: 45%;
  background-color: #ff6e1a;
}
.imgone {
  background-image: url(../images/home11.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
.imagecont h4 {
  font-size: 15px;
  font-weight: 500;
  color: #ff6e1a;
  padding: 0px 0px 35px 0px;
}
.imagecont h4 span {
  padding: 0px 0px 0px 15px;
}
.forpadd {
  margin: 25px 0px 0px 0px;
  background-color: #fff;
}
/* end ////////////////////////////////////////////////////////*/
.footer {
  padding: 70px 0px 70px 0px;
  background-color: #120129;
  border-bottom: 90px solid #ff6e1a;
}
.leftside {
  border-bottom: 2px solid #fff;
  padding: 0px 0px 20px 0px;
}
.leftside h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 0px 20px 0px;
}
.leftside p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 20px 0px;
}
.socialfooter {
  display: none;
}
.socialfooter ul {
  width: 40%;
  padding: 0px 0px 0px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialfooter ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialfooter ul li a {
  font-size: 18px;
  color: #ff6e1a;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
}
.socialfooter ul li:hover {
  border: 2px solid #ff6e1a;
  transition: 0.2s all ease-in-out;
}
.rightside h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0px 20px 0px;
}
.rightside ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.rightside ul li {
  list-style: none;
}
.rightside ul li a {
  color: #fff;
  text-decoration: none;
}
.rightside ul li a:hover {
  color: #ff6e1a;
  text-decoration: underline;
}
